{% extends "base.html.twig" %}

{% block title %}SymRecipe - Home Page!
{% endblock %}

 {% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur WorldRecipe</h1>
    <p class="lead">Des recettes au top</p>
    <hr class="my-4">
    <p>Rendez-vous sur la page d'inscription pour démarrer votre expérience</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
  </div>

 {% endblock %}

